@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranNastaliq";
  src: url("./fonts/IranNastaliq/IranNastaliq.v2.0_YasDL.com.ttf")
    format("truetype");
}

@font-face {
  font-family: "YekanBakh";
  src: url("./fonts/YekanBakh/YekanBakh-Light.ttf") format("truetype");
}

@font-face {
  font-family: "YekanBakh-bold";
  src: url("./fonts/YekanBakh/YekanBakh-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./fonts/vazirmatn/Vazirmatn-VariableFont_wght.ttf")
    format("truetype");
}
