@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranNastaliq";
  src: url("./fonts/IranNastaliq/IranNastaliq.v2.0_YasDL.com.ttf")
    format("truetype");
}

@font-face {
  font-family: "Yekan";
  src: url("./fonts/YekanBakh/YekanBakh-Light.ttf") format("truetype");
}
