<div class="flex gap-4">
  <div>
    <img src="images/png/Vector.png" alt="" />
  </div>
  <ul class="flex">
    <div
      class="w-14 h-14 bg-gradient-to-br from-gradient-light to-gradient-dark rounded-2xl shadow mx-auto"
    ></div>
    <div
      class="w-14 h-14 bg-gradient-to-br from-gradient-light to-gradient-dark rounded-2xl shadow mx-auto"
    ></div>
    <div
      class="w-14 h-14 bg-gradient-to-br from-gradient-light to-gradient-dark rounded-2xl shadow mx-auto"
    ></div>
  </ul>
</div>
