<div
  class="w-96 h-11 bg-slate-800 rounded-2xl flex items-center px-4 overflow-x-auto"
  dir="rtl"
>
  <!-- Home Link -->
  <div
    class="flex items-center text-slate-200 text-sm font-normal font-vazirmatn space-x-2 space-x-reverse"
  >
    <i class="fa-solid fa-house text-primary-color"></i>
    <a href="#" class="hover:underline">
      <span>خانه</span>
    </a>
  </div>

  <!-- Chevron Icon 1 -->
  <i class="fa-solid fa-chevron-left text-white text-xs mx-2"></i>

  <!-- Services Link -->
  <div
    class="flex items-center text-slate-200 text-sm font-normal font-vazirmatn space-x-2 space-x-reverse"
  >
    <i class="fa-solid fa-hand text-primary-color"></i>
    <a href="#" class="text-nowrap hover:underline">
      <span>خدمات مجالس</span>
    </a>
  </div>

  <!-- Chevron Icon 2 -->
  <i class="fa-solid fa-chevron-left text-white text-xs mx-2"></i>

  <!-- Custom Service Link -->
  <div
    class="flex items-center text-primary-color text-sm font-normal font-vazirmatn"
  >
    <a href="#" class="text-nowrap hover:underline">
      <span>آوردن ابر بر سر مزار</span>
    </a>
  </div>
</div>
