<header
  class="bg-slate-800 h-[84px] md:h-44 px-10 flex items-center justify-center"
>
  <div>
    <div class="grid grid-cols-3 gap-4 w-full">
      <!-- contact info -->
      <div class="grid grid-cols-2 gap-x-2 items-center">
        <!-- Contact Information -->
        <div dir="rtl" class="">
          <p class="text-slate-300 font-vazirmatn text-custom-lg">
            09123456789
          </p>
          <p class="text-slate-300 font-vazirmatn text-custom-sm">
            هفت روز هفته از 9 تا 21
          </p>
        </div>
        <!-- Phone Icon -->
        <div
          class="w-social-icon-width h-social-icon-height rounded-full border-2 border-gray-400"
        >
          <!-- You can add an icon here if needed -->
        </div>
      </div>

      <!-- Logo and Title Wrapper -->
      <div class="flex items-center gap-x-3.5">
        <!-- Logo Image - second image -->
        <img
          src="images/png/logo-banoo1.png"
          alt="banoo-logo"
          class="w-[49px] h-[49px] md:w-[75px] md:h-[75px]"
        />

        <!-- Title Text - first image -->
        <img
          src="images/png/logo.png"
          alt="main-logo"
          class="w-[132px] h-[28px] md:w-[200px] md:h-[43px]"
        />
      </div>
      <!-- social Icons -->
      <div class="flex items-center">
        <ul class="flex gap-x-2.5">
          <!-- Instagram Icon with Hover Effect -->
          <li>
            <a href="#instagram" class="group">
              <div
                class="w-social-icon-width h-social-icon-height rounded-full border-2 border-gray-400 group-hover:border-white transition duration-300"
              >
                <i
                  class="text-gray-400 group-hover:text-white text-2xl transition duration-300"
                ></i>
              </div>
            </a>
          </li>
          <li>
            <a href="#instagram" class="group">
              <div
                class="w-social-icon-width h-social-icon-height rounded-full border-2 border-gray-400 group-hover:border-white transition duration-300"
              >
                <i
                  class="text-gray-400 group-hover:text-white text-2xl transition duration-300"
                ></i>
              </div>
            </a>
          </li>
          <li>
            <a href="#instagram" class="group">
              <div
                class="w-social-icon-width h-social-icon-height rounded-full border-2 border-gray-400 group-hover:border-white transition duration-300"
              >
                <i
                  class="text-gray-400 group-hover:text-white text-2xl transition duration-300"
                ></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
