<nav dir="rtl">
  <div class="flex flex-row h-[46px] bg-slate-100 mx-10 rounded-20 -m-[23px]">
    <ul class="contents">
      <!-- here -->
      <li class="flex items-center space-x-reverse space-x-1.5 mx-auto">
        <div class="bg-slate-500 w-7 h-7 rounded-[10px] my-[9px]"></div>
        <a
          class="text-slate-600 hover:text-slate-800 font-medium hover:font-extrabold text-[16px] font-vazirmatn"
          href="#"
        >
          صفحه نخست
        </a>
      </li>
      <!-- here -->
      <!-- here -->
      <li class="flex items-center space-x-reverse space-x-1.5 mx-auto">
        <div class="bg-slate-500 w-7 h-7 rounded-[10px] my-[9px]"></div>
        <a
          class="text-slate-600 hover:text-slate-800 font-medium hover:font-extrabold text-[16px] font-vazirmatn"
          href="#"
        >
          خدمات مجالس
        </a>
      </li>
      <!-- here -->
      <!-- here -->
      <li class="flex items-center space-x-reverse space-x-1.5 mx-auto">
        <div class="bg-slate-500 w-7 h-7 rounded-[10px] my-[9px]"></div>
        <a
          class="text-slate-600 hover:text-slate-800 font-medium hover:font-extrabold text-[16px] font-vazirmatn"
          href="#"
        >
          گالری مجالس
        </a>
      </li>
      <!-- here -->
      <!-- here -->
      <li class="flex items-center space-x-reverse space-x-1.5 mx-auto">
        <div class="bg-slate-500 w-7 h-7 rounded-[10px] my-[9px]"></div>
        <a
          class="text-slate-600 hover:text-slate-800 font-medium hover:font-extrabold text-[16px] font-vazirmatn"
          href="#"
        >
          بلاگ
        </a>
      </li>
      <!-- here -->
      <!-- here -->
      <li class="flex items-center space-x-reverse space-x-1.5 mx-auto">
        <div class="bg-slate-500 w-7 h-7 rounded-[10px] my-[9px]"></div>
        <a
          class="text-slate-600 hover:text-slate-800 font-medium hover:font-extrabold text-[16px] font-vazirmatn"
          href="#"
        >
          درباره ما
        </a>
      </li>
      <!-- here -->
      <!-- here -->
      <li class="flex items-center space-x-reverse space-x-1.5 mx-auto">
        <div class="bg-slate-500 w-7 h-7 rounded-[10px] my-[9px]"></div>
        <a
          class="text-slate-600 hover:text-slate-800 font-medium hover:font-extrabold text-[16px] font-vazirmatn"
          href="#"
        >
          تماس با ما
        </a>
      </li>
      <!-- here -->
    </ul>
  </div>
</nav>
