<!-- new news section -->
<div class="px-10 py-20">
  <!-- Wrapper برای تنظیم گرید و فاصله‌ها -->
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-6 items-start max-w-[1200px] mx-auto"
  >
    <div class="md:col-span-1">
      <!-- Wrapper برای تصویر -->
      <div class="w-full h-auto rounded-2xl overflow-hidden">
        <img
          src="./images/png/gandom-pic.png"
          alt="مراسم ختم"
          class="object-cover w-full h-auto"
        />
      </div>
    </div>
    <div class="md:col-span-1 text-right my-auto">
      <!-- Wrapper برای عنوان -->
      <div class="mb-2">
        <h2 class="text-primary-color text-2xl font-yekan">
          مراسم ختم رئیس سازمان مالیات
        </h2>
      </div>
      <!-- Wrapper برای توضیحات -->
      <div class="mb-4">
        <p class="text-slate-200 font-yekan">
          دار فانی کالیفرنیا متاسفانه مروری اخراج از ظاهر شده بلند، عظیما گرفتار
          نیاز عصبانیت در خانه ی بعدی شنیده شده است. این مراسم در تاریخ ۲۳ آبان
          برگذار خواهد شد و حضور عموم در آن آزاد است. خانواده ی مرحوم از همه ی
          دوستان و آشنایان دعوت می کنند در این مراسم شرکت کنند.
        </p>
      </div>
      <!-- Wrapper برای دکمه -->
      <div>
        <button
          class="w-40 h-10 bg-primary-color text-slate-800 font-semibold font-vazirmatn px-4 py-2 rounded-3xl hover:bg-primary-color/80 transition"
        >
          مشاهده
        </button>
      </div>
    </div>
  </div>
</div>
