<div class="">
  <div class="flex flex-col gap-3">
    <!-- First row - 2 images -->
    <div class="flex gap-3">
      <div class="md:w-28 w-20 h-20 md:h-28 rounded-lg">
        <img
          src="images/png/gandom-pic.png"
          alt="Event 1"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
      <div class="md:w-28 w-20 h-20 md:h-28 rounded-lg">
        <img
          src="images/png/gandom-pic.png"
          alt="Event 2"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
    </div>

    <!-- Middle row - 3 images -->
    <div class="flex gap-3">
      <div class="md:w-28 w-20 h-20 md:h-28 rounded-lg">
        <img
          src="images/png/gandom-pic.png"
          alt="Event 3"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
      <div class="md:w-28 w-20 h-20 md:h-28 rounded-lg">
        <img
          src="images/png/gandom-pic.png"
          alt="Event 4"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
      <div class="md:w-28 w-20 h-20 md:h-28 rounded-lg">
        <img
          src="images/png/gandom-pic.png"
          alt="Event 5"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
    </div>

    <!-- Bottom row - 4 images -->
    <div class="flex gap-3">
      <div class="md:w-28 w-20 h-20 md:h-28 rounded-lg">
        <img
          src="images/png/gandom-pic.png"
          alt="Event 6"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
      <div class="md:w-28 w-20 h-20 md:h-28 rounded-lg">
        <img
          src="images/png/gandom-pic.png"
          alt="Event 7"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
      <div class="md:w-28 w-20 h-20 md:h-28 rounded-lg">
        <img
          src="images/png/gandom-pic.png"
          alt="Event 8"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
      <div class="md:w-28 w-20 h-20 md:h-28 rounded-lg">
        <img
          src="images/png/gandom-pic.png"
          alt="Event 9"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
    </div>
  </div>
</div>
