<!-- <div>
            <div class="md:col-span-1 text-right mt-3">
              <div>
                <h2 class="text-primary-color text-2xl font-yekan mb-2">
                  مراسم ختم رئیس سازمان مالیات
                </h2>
              </div>
              <div>
                <p class="text-slate-200 font-vazirmatn mb-4">
                  دار فانی کالیفرنیا متاسفانه مروری اخراج از ظاهر شده بلند،
                  عظیما گرفتار نیاز عصبانیت در خانه ی بعدی شنیده شده است. این
                  مراسم در تاریخ ۲۳ آبان برگذار خواهد شد و حضور عموم در آن آزاد
                  است. خانواده ی مرحوم از همه ی دوستان و آشنایان دعوت می کنند در
                  این مراسم شرکت کنند.
                </p>
              </div>
            </div>
          </div> -->
