<!-- sharh khadamat -->
<div class="md:px-10">
  <!-- Wrapper -->
  <div class="max-w-[1200px] mx-auto">
    <!-- Wrapper  -->
    <div dir="rtl" class="flex flex-col w-full h-auto">
      <div class="bg-slate-800/40 rounded-2xl p-6 shadow-inner-shadow">
        <!-- Title Section -->
        <div class="text-slate-200 text-3xl mx-auto mt-10 text-center">
          <h1 class="font-yekan tracking-wide mb-4">شرح خدمات</h1>
          <img
            class="mx-auto w-60 h-6"
            src="images/svg/OBJECTS.svg"
            alt="Decorative Line"
          />
        </div>
        <!-- Services Grid Section -->
        <div class="mt-12 text-center mb-24">
          <div class="grid grid-cols-2 md:grid-cols-3 gap-y-10 gap-x-9">
            <!-- Service Item 1 -->
            <div>
              <div
                class="w-24 h-24 bg-gradient-to-br from-gradient-light to-gradient-dark rounded-2xl shadow mx-auto"
              ></div>
              <h1 class="text-primary-color font-yekan text-xl mt-6">
                چاپ تصویر خدا بیاورز
              </h1>
              <p class="text-slate-200 text-sm font-vazirmatn mt-2">
                گروه ما با سابقه کنار شما برای این مهم دست است
                <a href="#" class="text-primary-color text-sm">بیشتر</a>
              </p>
            </div>
            <!-- Service Item 2 -->
            <div>
              <div
                class="w-24 h-24 bg-gradient-to-br from-gradient-light to-gradient-dark rounded-2xl shadow mx-auto"
              ></div>
              <p class="text-primary-color font-yekan text-xl mt-6">
                چاپ تصویر خدا بیاورز
              </p>
              <p class="text-slate-200 text-sm font-vazirmatn mt-2">
                گروه ما با سابقه کنار شما برای این مهم دست است
                <a href="#" class="text-primary-color text-sm">بیشتر</a>
              </p>
            </div>
            <!-- Service Item 3 -->
            <div>
              <div
                class="w-24 h-24 bg-gradient-to-br from-gradient-light to-gradient-dark rounded-2xl shadow mx-auto"
              ></div>
              <p class="text-primary-color font-yekan text-xl mt-6">
                چاپ تصویر خدا بیاورز
              </p>
              <p class="text-slate-200 text-sm font-vazirmatn mt-2">
                گروه ما با سابقه کنار شما برای این مهم دست است
                <a href="#" class="text-primary-color text-sm">بیشتر</a>
              </p>
            </div>
            <!-- Service Item 4 -->
            <div>
              <div
                class="w-24 h-24 bg-gradient-to-br from-gradient-light to-gradient-dark rounded-2xl shadow mx-auto"
              ></div>
              <p class="text-primary-color font-yekan text-xl mt-6">
                چاپ تصویر خدا بیاورز
              </p>
              <p class="text-slate-200 text-sm font-vazirmatn mt-2">
                گروه ما با سابقه کنار شما برای این مهم دست است
                <a href="#" class="text-primary-color text-sm">بیشتر</a>
              </p>
            </div>
            <!-- Service Item 5 -->
            <div>
              <div
                class="w-24 h-24 bg-gradient-to-br from-gradient-light to-gradient-dark rounded-2xl shadow mx-auto"
              ></div>
              <p class="text-primary-color font-yekan text-xl mt-6">
                چاپ تصویر خدا بیاورز
              </p>
              <p class="text-slate-200 text-sm font-vazirmatn mt-2">
                گروه ما با سابقه کنار شما برای این مهم دست است
                <a href="#" class="text-primary-color text-sm">بیشتر</a>
              </p>
            </div>
            <!-- Service Item 6 -->
            <div>
              <div
                class="w-24 h-24 bg-gradient-to-br from-gradient-light to-gradient-dark rounded-2xl shadow mx-auto"
              ></div>
              <p class="text-primary-color font-yekan text-xl mt-6">
                چاپ تصویر خدا بیاورز
              </p>
              <p class="text-slate-200 text-sm font-vazirmatn mt-2">
                گروه ما با سابقه کنار شما برای این مهم دست است
                <a href="#" class="text-primary-color text-sm">بیشتر</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
