<div class="overflow-hidden">
  <div class="relative z-[-1] -mt-[176px]">
    <img
      src="images/png/gandom-pic.png"
      class="w-full h-[600px] object-cover"
    />
    <div
      class="absolute inset-0 flex flex-col items-end justify-center md:mx-44 mt-[230px]"
    >
      <h1
        class="text-slate-600 text-4xl font-bold mb-4 font-vazirmatn text-right md:text-center"
      >
        در سخت ترین لحظات
      </h1>
      <h2 class="text-slate-800 text-2xl font-vazirmatn text-right">
        در کنارتان هستیم
      </h2>
    </div>
  </div>
</div>
