<div class="overflow-hidden md:-mt-[23px] -mt-[43px]">
  <div class="relative">
    <div class="">
      <img
        src="images/png/gandom-pic.png"
        class="w-full h-[600px] object-cover"
      />
    </div>
    <div
      class="absolute inset-0 flex flex-col items-center md:items-end justify-center md:px-44"
    >
      <div dir="rtl">
        <h1 class="text-slate-600 text-6xl font-nastaliq mb-2">
          در سخت ترین لحظات
        </h1>
        <h2 class="text-slate-800 text-3xl font-nastaliq">در کنارتان هستیم</h2>
      </div>
    </div>
  </div>
</div>
